@charset "UTF-8";
/*!
 * Theme name: Libre Boilerplate
 * Theme URI: http://wordpress.lowtone.nl/libre-boilerplate/
 * Description: Boilerplate theme.
 * Author: Lowtone <info@lowtone.nl>
 * Author URI: http://lowtone.nl
 * Version: 1.0
 * Tags: Libre, Custom, Responsive
 * License: 
 * License URI: http://wordpress.com/license
 * Template: lowtone-libre
 * Menus: Main, Side
 * Sidebars: 6
 * Front Page sidebars: 1
 * Post formats: audio, video
 */
/**
 * @author Paul van der Meijs <code@lowtone.nl>
 * @copyright Copyright (c) 2013, Paul van der Meijs
 * @license http://wordpress.lowtone.nl/license/
 * @version 1.0
 */

// Config

/**
 * Dropdown menus
 *
 * Provide a comma separated list of menu names to display their submenus as 
 * dropdowns.
 *
 * Example: $dropdown_menus: "main", "side";
 */
$dropdown_menus: "main", "side";

// Defaults 

@import "partials/defaults";

@import "compass/css3";

@import "partials/basics";

@import "partials/layout";