@charset "UTF-8";

.widget {
	margin-bottom: 2em;
}

// Calendar widget

.widget_calendar {
	
	table {
		width: 100%;

		caption {
			font-weight: bold;
			padding-bottom: .5em;
		}

		thead, tbody {
			th, td {
				text-align: center;
				max-width: 2em;
			}
		}

		tbody {
			td {
				padding: .2em;
				height: 2em;

				&#today {
					background-color: $dark_grey;
					color: $light_color;
				}

				a {
					font-weight: bold;
				}
			}
		}

		tfoot {
			#next {
				text-align: right;
			}
		}
	}

}